<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body>
    <header>
        <center>
            <h1>
                <span class="badge rounded-pill bg-danger">Youtube Bot Index</span>
            </h1>
        </center>
    </header>

    <div class="container mt-5">
        <ul class="list-group">
            {%  if not error%}
            {%for file in files%}
            <a href={{userid+"/"+file|quote_plus}} class="list-group-item list-group-item-action  text-white mb-1  bg-primary">
                {{file}}</a>
            {%endfor%}
            {% else %}
               <div class="card text-white bg-danger text-center" style="max-width: 100%;">
                <div class="card-header">User Id not Found</div>
            {%endif %}

        </ul>
    </div>


</body>

</html>